	<div class="carousel">
		<a class="carousel-item" href="#one!">
			<img src="./assets/css/images/volunteer1.png">
		</a>
		<a class="carousel-item">
			<img src="./assets/css/images/volunteer2.jpg">
		</a>
		<a class="carousel-item">
			<img src="./assets/css/images/volunteer3.jpg">
		</a>
	</div>


    <div>
	    <div class="welcome-section content-hidden">
			<div class="content-wrap">
				<ul class="fly-in-text">
					<li>Volunt</li>
					<li>Area</li>
				</ul>
			</div>
		</div>
	
		<div class="divider"></div>

		<h2>VoluntArea matches inspired people with inspiring causes. It’s how volunteers and nonprofits connect to achieve remarkable
			outcomes.</h2>
		<h2></h2>

		<a href="/volunteer">
			<button class="btn waves-effect deep-purple lighten-2" type="submit" name="action">I am a volunteer
				<i class="material-icons right"></i>
			</button>
		</a>

		<a href="/events">
			<button class="btn waves-effect deep-purple lighten-2" type="submit" name="action">I am an organization
				<i class="material-icons right"></i>
			</button>

		</a>
	</div>