	<br>
	<br>
	<div class="carousel">
		<a class="carousel-item" href="#one!">
			<img src="./assets/css/images/volunteer3.jpg">
		</a>
		<a class="carousel-item">
			<img src="./assets/css/images/volunteer2.jpg">
		</a>
		<a class="carousel-item">
			<img src="./assets/css/images/volunteer.jpg">
		</a>
	</div>


  <div class="welcome-section content-hidden">
			<div class="content-wrap">
				<ul class="fly-in-text">
					<li>Volunt</li>
					<li>Area</li>
				</ul>
			</div>
	</div>

<div class="divider one"></div>

    <div class="container description">
		<div class="row">		

		<h1>VoluntArea matches inspired people with inspiring causes.
		<br>It’s how volunteers and nonprofits connect to achieve remarkable outcomes.</h1>

		<a href="/events">
			<button class="btn waves-effect button" type="submit" id="submit" name="action">I am a volunteer
				<i class="material-icons right"></i>
			</button>
		</a>

		<a href="/orgs">
			<button class="btn waves-effect button" type="submit" name="action">I am an organization
				<i class="material-icons right"></i>
			</button>
		</a>

	</div>
</div>

	<div class="divider"></div>

	<div class="container who">
			<div class="section">
					<h>Who Can join VoluntArea?</h>
			  
			  <div class="row">
			
		
				<div class="col s12 m3">
				  <div class="icon-block">
					<h4 class="center blue-text"><i class="material-icons">favorite</i></h4>
					<h5 class="center blue-text">Nonprofits</h5>
		
					<p class="light center-align">Tax-Exempt Status Pending
						<br>
							Organizations </p>
				  </div>
				</div>
		
				<div class="col s12 m3">
				  <div class="icon-block">
					<h4 class="center blue-text"><i class="material-icons">school</i></h4>
					<h5 class="center blue-text">Schools</h5>
		
					<p class="light center-align">Public and Private K-12
							<br>
							Public and Private Universities</p>
				  </div>
				</div>
			  

			  <div class="col s12 m3">
					<div class="icon-block">
					  <h4 class="center blue-text"><i class="material-icons">language</i></h4>
					  <h5 class="center blue-text">Non-US NGO</h5>
		  
					  <p class="light center-align">Non-Governmental Organizations
							  <br>
							  (Non-US)</p>
					</div>
				</div>

			  <div class="col s12 m3">
					<div class="icon-block">
					  <h4 class="center blue-text"><i class="material-icons">account_balance</i></h4>
					  <h5 class="center blue-text">Other Organizations</h5>
		  
					  <p class="light center-align">Government Organizations
							<br>
							Hospices & Hospitals
							<br>
							State-Level Tax Exempt
							<br>
							Organizations</p>
					</div>
			</div>
		
			</div>
		  </div>
	</div>

	<div class="divider"></div>

	
    <div class="row">
      <div class="col s7 push-s5">
		  <span class="flow-text">
		            <h2>More people.</h2>
                    <h2>More impact.</h2>
                    <h3>VolunteerMatch is the most effective way to recruit highly qualified volunteers for your nonprofit. We match you with people who are passionate about and committed to your cause, and who can help when and where you need them.</h3>
                    <h3> because volunteers are often donors as well, we make it easy for them to contribute their time and money.</h3>
		   </span>
	  </div>

      <div class="col s5 pull-s7"><span class="flow-text round-image"><img src="./assets/css/images/hands.jpg" alt="Mountain View" class="round-image" width="377" height="377"></span></div>
    </div>