	<div class="carousel">
		<a class="carousel-item" href="#one!">
			<img src="./assets/css/images/volunteer1.png">
		</a>
		<a class="carousel-item">
			<img src="./assets/css/images/volunteer2.jpg">
		</a>
		<a class="carousel-item">
			<img src="./assets/css/images/volunteer3.jpg">
		</a>
	</div>


    <div>
	    <div class="welcome-section content-hidden">
			<div class="content-wrap">
				<ul class="fly-in-text">
					<li>Volunt</li>
					<li>Area</li>
				</ul>
			</div>
		</div>
	
		<div class="divider"></div>

		<h2>VoluntArea matches inspired people with inspiring causes. It’s how volunteers and nonprofits connect to achieve remarkable
			outcomes.</h2>
		<h2></h2>

		<a href="/events">
			<button class="btn waves-effect deep-purple lighten-2" type="submit" name="action">I am a volunteer
				<i class="material-icons right"></i>
			</button>
		</a>

		<a href="/orgs">
			<button class="btn waves-effect deep-purple lighten-2" type="submit" name="action">I am an organization
				<i class="material-icons right"></i>
			</button>

		</a>
	</div>

    <div class="row">
            <div class="col s7 push-s5">
                    <span class="round-image"><img src="./assets/css/images/hands.jpg" alt="Mountain View" width="377" height="377"></span>
            </div>
        <div class="col s5 pull-s7">
            <span class="flow-text">
                    <h3>More people.</h3>
                    <h3>More impact.</h3>
                    <h3>VolunteerMatch is the most effective way to recruit highly qualified volunteers for your nonprofit. We match you with people who are passionate about and committed to your cause, and who can help when and where you need them.</h3>
                    
                    <h3> because volunteers are often donors as well, we make it easy for them to contribute their time and money.</h3>
            </span>
        </div>			
    </div>