    <header>
        <nav>
            <div class="nav-wrapper #3949ab indigo darken-1">
                <i class="fas fa-hands-helping" id=logo-icon></i>


                <a href="/" class="brand-logo" id="logo">VoluntArea</a>
                <ul class="right hide-on-med-and-down" id="head-nav-links">
                    <li>
                        <a href="/survey">Survey</a>
                    </li>
                    <li>
                        <a href="/api/friends">...</a>
                    </li>
                    <li>
                        <a href="https://github.com/Jhint24/VoluntArea">GitHub Repo</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>