
    <div class="parallax-container">
      <div class="parallax"><img src="./assets/css/images/world-map1.PNG"></div>
      <div class="row center-text">
          <h7 class="header col s12 light"><b>We send you good volunteers in any place in the world to help with your good cause</b></h7>
        </div>
    </div>
    <div class="section white">
      <div class="row container">



            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="userName" type="text" class="validate">
                <label for="icon_prefix">Full Name</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix">web</i>
                <input id="email" type="email" class=" webAddress validate">
                <label for="email">Web-address</label>
            </div>
        
            <div class="input-field col s6">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="icon_prefix2 activity" class="activity materialize-textarea"></textarea>
                <label for="icon_prefix2">Activity</label>
            </div>         


            <div class="input-field col s6">
                <i class="fas fa-calendar-alt prefix"></i>
                <label for="volunteerdate" class>Date</label>
                <input id=volunteerdate type="text" class="datepicker"></input>
            </div>


            <div class="input-field col s6">
                <i class="material-icons prefix">schedule</i>
                <label for="volunteertime">Time</label>
                <input type="text" id=volunteertime class="timepicker"></input>
            </div>
           



            <div class="input-field col s6">
                <form action="#">
                    <label for="email">Volunteers needed</label>
                    <p class="range-field">
                        <input type="range" class="volNeeded" id="test5" min="0" max="100" />
                    </p>

                </form>
            </div>

            <div class="input-field col s6">
                <form action="#">
                    <label for="email">Event hours</label>
                    <p class="range-field">
                        <input type="range" class="eventHours" id="test5" min="0" max="50" />
                    </p>

                </form>
            </div>

            <button class="btn waves-effect button" type="submit" name="action">Submit
				<i class="material-icons right">send</i>
			</button>
    
      </div>
    </div>

    <div class="parallax-container">
      <div class="parallax"><img src="./assets/css/images/world-map.PNG"></div>
    </div>
    


    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Thank you!
                <br> We have got your information!</h4>
            <div class="divider"></div>
            <h5 id="userMatch"></h5>
            <img id="userMatchImage" class="materialboxed" width="650" src="">
        </div>
    </div>
