<br>
<br>
<br>
<br>
<br>
<br>

<div class="thank-you-page" style="text-align:center">
    <div><h1>Thank you for Signing up!</h1></div>
    		<a href="/">
			<button class="btn waves-effect deep-purple lighten-2" type="submit" name="action">Return to Home Page
				<i class="material-icons mood"></i>
			</button>
		</a>
        </div>
<br>
<br>
<br>
<br>
<br>
<br>