<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">

	 <!-- Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<!-- Font Awesome -->
    <script src="https://use.fontawesome.com/b38c8ed4c7.js"></script>
	<link rel="stylesheet" href="./assets/css/style.css" type="text/css" />

	<title>VoluntArea</title>
</head>

<body>
    <h1>VoluntArea</h1>
    

	{{{ body }}}

	<footer class="VoluntAreaFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2018 VoluntArea. All rights researved.</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/Jhint24/VoluntArea">Reference Work</a>
			</div>
		</div>
    </footer>
    
</body>
</html>